{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="../../static/css/car_update.css">
</head>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Edit Car</h1>
    <table>
      {{ form.as_table }}
    </table>
    <div>
      <div class="buttons-container">
        <input type="submit" value="Save Changes" class="btn btn-primary">
        <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Delete Car</a>
        <a href="{% url 'car_detail' car.pk %}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </form>
{% endblock %}

