{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="../../static/css/car_detail.css">
</head>

<div class="car-card">
  <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}">
  <h2>{{ object.brand }} {{ object.model }}</h2>
  <p><strong>Ano de fabricação:</strong> {{ object.factory_year }}</p>
  <p><strong>Ano do modelo:</strong> {{ object.model_year }}</p>
  <p><strong>Placa:</strong> {{ object.plate }}</p>
  <p><strong>Preço:</strong> R$ {{ object.value }}</p>
</div>
<div class="buttons-container">
{% if user.is_authenticated %}
  <a href="{% url 'car_update' pk=object.pk %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
{% endif %}
  <a href="{% url 'cars_list' %}" class="btn btn-back">Back</a>
</div>
{% endblock %}