<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSLFuWv9KbrRISaFZoXdzqJourMK1rE9iV6B00" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../static/css/base.css">
  {% load static %}
  <title>{% block title %}Simple Car System{% endblock %}</title>

</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>Hello, {{ user.username }}</li>
          <li><a class="main-btn" href="{% url 'new_car' %}">Car Register</a></li>
        {% endif %}
        
        {% if not user.is_authenticated %}
          <li><a class="main-btn" href="{% url 'register' %}">Sign Up</a></li>
          <li><a class="main-btn" href="{% url 'login' %}">Login</a></li>
        {% endif %}

        <li><a class="main-btn" href="{% url 'cars_list' %}">Car List</a></li>

        {% if user.is_authenticated %}
          <li><a class="main-btn" href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <div style="align-content: center; text-align: center;">
    <br>
      <p> <a href="https://geomurata.com" class="footer-btn" target="_blank">&copy; 2024 Geo Murata Website</a>
          <a class="fa-brands fa-linkedin btn-social" href="https://www.linkedin.com/in/geovanne-murata/" target="_blank"></a>
          <a class="fa-brands fa-instagram btn-social" href="https://www.instagram.com/geo.murata/" target="_blank"></a>
          <a class="fa-brands fa-whatsapp btn-social" href="https://wa.me/5511952842140" target="_blank"></a>
      <p></p>
  </div>
</body>
</html>
